---
let { properties } = Astro.props;
---

<div class="props-table">
  {properties.map(({ name, description, type, isRequired }) => (
    <div class=" row" key={name}>
      <div class="text-lg name">{name}</div>
      <div class={isRequired}>{isRequired}</div>
      <div class="text-sm type">
        <code>{type?.replace(/blah/g,	"&lt;")?.replace(/blah/g, "&gt;")}</code>
      </div>
      <div class="text-sm description">{description}</div>
    </div>
  ))}
</div>

<style lang="scss">
.props-table {
  margin: 1rem 0 2rem 0;
  .row {
    display: grid;
    gap: 10px;
          grid-template-columns: 200px 120px 1fr;
      grid-template-rows: 40px 1fr;
    align-items: center;
    border-bottom: 1px solid #eee;
    min-height: 40px;
    padding: 10px 0;
    > * {
      display: flex;
      align-items: center;
    }
    .description {
        grid-area: 2 / 1 / 3 / 4;
        padding-bottom: 10px;
        max-width: 80ch;
      }
    .name {
      // font-size: 1.1em;
      font-weight: bold;
      letter-spacing: 0.5px;
    }
    code {
      color: #bd7a27;
    }
    .Required {
      color: #a32e2e;
      font-weight: bold;
    }

    // @media (max-width: 1900px) {
    //   grid-template-columns: 200px 120px 1fr;
    //   grid-template-rows: 40px 1fr;

    // }
  }
}
</style>